# FastAPI 설정
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True

# 환경 설정
ENVIRONMENT=development

# LangSmith 설정

LANGSMITH_API_KEY=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
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=vibecoding
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com 

# Google Gemini API 설정
GOOGLE_API_KEY=AIzaSyCBq39sdhXGZuBBdpZlB0mdjOdYxWP3oJQ